{% extends "groups/group_base.html" %}
{% load static %}

{% block group_content %}
<div class="col-md-8">
  <h1 class="overpass">Threads
    <a href="{% url 'posts:user_profile' username=post_user.username %}">
      {{post_user}}</a> reads
      </h1>
  {% for group in user_groups  %}

      <a href="{% url 'groups:single' slug=group.slug %}">
        <h5 class="group-list-item"><span class="fas fa-users icon"></span>
          {{group.name}}</h5>
      </a></h5>
  {% endfor %}
</div>
{% endblock %}
