{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-6 pl-0">

    <h1 class="overpass mb-4">Sign Up</h1>
    <form enctype="multipart/form-data" class="regform" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          {{ auth_form.username|as_crispy_field }}
          <small class="error-message">{{ auth_form.non_field_errors }}</small>
        </div>

        <div class="col-lg-6 col-sm-12">
          {{ auth_form.email|as_crispy_field }}
        </div>
      </div>

      {{ auth_form.password1|as_crispy_field }}
      {{ auth_form.password2|as_crispy_field }}
      {{ auth_form.botcatcher }}
      {{ profile_form.bio|as_crispy_field }}
      {{ profile_form.profile_pic|as_crispy_field }}

      <input type="submit" class="btn btn-main-action" value="Sign Up">
    </div>

    </form>

  </div>


{% endblock %}
